body{width: 100%; min-width:320px;background-color: #eee;font:14px "Helvetica Neue",HelveticaNeue,Helvetica-Neue,Helvetica,'\5fae\8f6f\96c5\9ed1'; color: #333;margin: 0 auto;}
/*body, input{font: 14px/1.2em "Microsoft Yahei","宋体",Helvetica,Arial,sans-serif;background-color: #fff;}*/
textarea{resize: none;}
a{color: #333;}
/* clearfix */
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hide from IE Mac */
.clearfix {display: block;}
/* End hide from IE Mac */
/* clearfix__end */
