header {
  width: 100%;
  height: 1.33333rem;
}

header a {
  display: inline-block;
  background-image: url(../image/logo.png);
  width: 2.42667rem;
  height: 0.90667rem;
  background-size: 2.42667rem 0.90667rem;
  margin-top: 0.24rem;
  margin-left: 0.58667rem;
}

header span {
  float: right;
  width: 0.50667rem;
  height: 0.42667rem;
  background-image: url(../image/menu.png);
  background-size: 0.50667rem 0.42667rem;
  margin-top: 0.53333rem;
  margin-right: 0.53333rem;
}

.banner {
  position: relative;
  width: 100%;
  overflow-x: scroll;
}

.banner ul {
  width: 400%;
  overflow: hidden;
}

.banner ul li {
  float: left;
  width: 25%;
}

.banner ul li a {
  display: block;
}

.banner ul li a img {
  width: 100%;
}

.banner ul .banner-i {
  width: 100%;
  position: absolute;
  bottom: 0.33333rem;
}

.banner ul .banner-i ul {
  width: 3.2rem;
  height: 0.26667rem;
  margin: 0 auto;
}

.banner ul .banner-i ul li {
  width: 0.26667rem;
  height: 0.26667rem;
  border-radius: 50%;
  background-color: #b3bba6;
  margin-right: 0.4rem;
}

.banner ul .banner-i ul li:last-child {
  margin-right: 0;
}

.banner ul .banner-i ul li:hover {
  width: 0.66667rem;
  border-radius: 0.13333rem;
}

.new-game {
  width: 100%;
  margin-top: 1.06667rem;
  padding-bottom: 0.53333rem;
}

.new-game .new-title {
  overflow: hidden;
  padding: 0 0.53333rem;
}

.new-game .new-title span {
  float: left;
  padding: 0.08rem 0;
  font-size: 0.4rem;
  padding-left: 0.26667rem;
  border-left: 0.08rem solid #ff7a59;
  color: #000;
}

.new-game .new-title b {
  float: right;
  font-weight: normal;
  padding-right: 0.21333rem;
  background-image: url(../image/arrow-r1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 0.13333rem;
  color: #666;
  padding-top: 0.08rem;
}

.new-centent {
  width: 100%;
  overflow-x: scroll;
  padding: 0 0.53333rem;
  margin-top: 0.26667rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new-centent ul {
  width: 21.2rem;
  overflow: hidden;
}

.new-centent ul li {
  float: left;
  width: 6.8rem;
  margin-right: 0.26667rem;
}

.new-centent ul li > a {
  display: block;
  width: 100%;
}

.new-centent ul li > a img {
  width: 100%;
  border-radius: 0.26667rem;
}

.new-centent ul li h4 {
  margin-top: 0.2rem;
  line-height: 0.56rem;
  font-size: 0.34667rem;
}

.new-centent ul li p {
  overflow: hidden;
  line-height: 0.61333rem;
}

.new-centent ul li p span {
  float: left;
  float: left;
  color: #009900;
  margin-right: 0.26667rem;
}

.new-centent ul li p span {
  float: left;
}

.new-centent ul li p span:nth-child(2) {
  color: #666;
}

.new-centent ul li p span:nth-child(2) b {
  color: #ef8500;
}

.new-centent ul li p a {
  float: left;
  width: 1.73333rem;
  height: 0.61333rem;
  text-align: center;
  line-height: 0.61333rem;
  background-image: url(../image/bj-1.png);
  background-size: 1.73333rem 0.61333rem;
  color: #fff;
}

.banner-2 {
  position: relative;
  width: 100%;
  padding: 0.66667rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  overflow-x: scroll;
}

.banner-2 ul {
  width: 400%;
  overflow: hidden;
}

.banner-2 ul li {
  float: left;
  width: 25%;
}

.banner-2 ul li a {
  display: block;
  padding: 0 0.53333rem;
}

.banner-2 ul li a img {
  width: 100%;
  border-radius: 0.26667rem;
}

.banner-2 ul div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.13333rem;
  margin: auto;
  width: 3.33333rem;
  height: 0.26667rem;
}

.banner-2 ul div span {
  display: inline-block;
  width: 0.26667rem;
  height: 0.26667rem;
  border-radius: 0.13333rem;
  background-color: #bababa;
  margin-right: 0.4rem;
}

.banner-2 ul div span:last-child {
  margin-right: 0;
}

.banner-2 ul div span:hover {
  width: 0.8rem;
  background-color: #f2f2f2;
}

.fk {
  background-color: #f2f2f2;
  padding-bottom: 0.26667rem;
}

.fk p {
  padding: 0.66667rem 0;
  color: #fe6838;
  font-size: 0.42667rem;
  margin: 0 0.53333rem;
  text-align: center;
  line-height: 0.66667rem;
}

.fk .fk-list a {
  display: block;
  margin: 0 0.53333rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  background-image: url(../image/dotted.png);
  background-repeat: no-repeat;
  background-size: 8.93333rem 0.04rem;
  color: #666;
}

.fk .fk-list .more {
  margin: 0 0.53333rem;
  height: 0.93333rem;
  text-align: center;
  line-height: 0.93333rem;
  background-color: #e9e9e9;
  margin-top: 0.26667rem;
}

.APP {
  background-color: #f2f2f2;
  padding-top: 0.26667rem;
  padding-bottom: 0.66667rem;
}

.APP a {
  display: block;
  margin: 0 0.53333rem;
}

.APP a img {
  width: 100%;
  border-radius: 0.26667rem;
}

.game-list {
  width: 100%;
  background-color: #f2f2f2;
}

.game-list nav {
  overflow: hidden;
  margin: 0 0.53333rem;
}

.game-list nav a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  height: 0.93333rem;
  display: block;
  width: 50%;
  border: 1px solid #ccc;
  font-size: 0.45333rem;
  text-align: center;
  line-height: 0.93333rem;
  color: #000;
}

.game-list nav a:hover {
  color: #fff;
  background-color: #373737;
  text-decoration: none;
}

.game-list ul {
  margin: 0 0.53333rem;
}

.game-list ul li {
  position: relative;
  width: 100%;
  height: 10.66667rem;
  background-image: url(../unplad/game-list-1.png);
  background-repeat: no-repeat;
  background-size: 8.93333rem 10.66667rem;
  margin-top: 0.26667rem;
}

.game-list ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

.game-list ul li .game-icon {
  position: absolute;
  bottom: 0.66667rem;
}

.game-list ul li .game-icon .game-icon-left {
  float: left;
  width: 2.21333rem;
  height: 2.21333rem;
  margin-left: 0.93333rem;
}

.game-list ul li .game-icon .game-icon-left img {
  width: 100%;
}

.game-list ul li .game-icon .game-icon-right {
  float: left;
  margin-left: 0.50667rem;
}

.game-list ul li .game-icon .game-icon-right h2 {
  font-size: 0.37333rem;
  line-height: 1.5;
  color: #fff;
}

.game-list ul li .game-icon .game-icon-right h3 {
  color: #ccc;
  line-height: 1.5;
}

.game-list ul li .game-icon .game-icon-right p span {
  display: inline-block;
}

.game-list ul li .game-icon .game-icon-right p span:first-child {
  width: calc(126rem / 75);
  height: calc(20rem / 75);
  background-image: url(../unplad/star5.png);
  background-size: calc(126rem / 75) calc(20rem / 75);
  background-repeat: no-repeat;
}

.game-list ul li .game-icon .game-icon-right p span:nth-child(2) {
  line-height: 1.5;
  color: #ccc;
}

.game-list ul li .game-icon .game-icon-right > span {
  display: inline-block;
  width: 3.81333rem;
  height: 0.66667rem;
  background-image: url(../image/btn-bg-md.png);
  background-repeat: no-repeat;
  background-size: 3.81333rem 0.66667rem;
  font-size: 0.37333rem;
  color: #fff;
  text-align: center;
  line-height: 0.66667rem;
  margin-top: 0.16rem;
}

.game-list ul li:nth-child(2) {
  background-image: url(../unplad/game-list-2.png);
  background-repeat: no-repeat;
}

.game-list ul li:nth-child(3) {
  background-image: url(../unplad/game-list-3.png);
  background-repeat: no-repeat;
}

.game-list-row {
  width: 100%;
  background-color: #f2f2f2;
}

.game-list-row ul {
  margin: 0 0.53333rem;
  padding-top: 0.26667rem;
}

.game-list-row ul li {
  position: relative;
  width: 100%;
  padding: 0.53333rem 0;
  background-image: url(../image/dotted.png);
  background-repeat: no-repeat;
  background-size: 8.93333rem 0.04rem;
  background-position: center bottom;
}

.game-list-row ul li:after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 1.06667rem;
  right: 0.53333rem;
  width: 0.21333rem;
  height: 0.37333rem;
  background-image: url(../unplad/arrow-r2.png);
  background-size: 0.21333rem 0.37333rem;
  background-repeat: no-repeat;
}

.game-list-row ul li a {
  display: block;
  overflow: hidden;
}

.game-list-row ul li a img {
  float: left;
  width: 1.65333rem;
}

.game-list-row ul li a .row-right {
  float: left;
  margin-left: 0.53333rem;
}

.game-list-row ul li a .row-right h2 {
  color: #000;
  font-weight: 700;
  line-height: 1.8;
}

.game-list-row ul li a .row-right h3 {
  color: #666;
  line-height: 1.8;
}

.game-list-row ul li a .row-right p {
  margin-top: 0.21333rem;
}

.game-list-row ul li a .row-right p span {
  display: inline-block;
  width: calc(126rem / 75);
  height: calc(20rem / 75);
}

.game-list-row ul li a .row-right p span:first-child {
  background-image: url(../unplad/star5.png);
  background-size: calc(126rem / 75) calc(20rem / 75);
}

.game-list-row ul li a .row-right p span:nth-child(2) {
  color: #666;
}

.game-list-row .more {
  margin: 0 0.53333rem;
  height: 0.93333rem;
  text-align: center;
  line-height: 0.93333rem;
  background-color: #e9e9e9;
  margin-top: 0.26667rem;
}

.APP {
  padding-bottom: 0;
}

.APP .top a {
  display: block;
  width: 100%;
  height: 2.26667rem;
  line-height: 2.26667rem;
  text-align: center;
  color: #333;
  margin-left: 0;
}

footer {
  height: 2.4rem;
  background-color: #13100b;
  text-align: center;
  overflow: hidden;
}

footer h3 {
  color: #999;
  font-size: 0.4rem;
  margin-top: 0.42667rem;
}

footer p {
  line-height: 1.8;
  color: #656668;
  margin-top: 0.13333rem;
}
/*# sourceMappingURL=index.css.map */